* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
}
ul {
  list-style-type: none;
}
li {
  display: inline-block;
}
a {
  text-decoration: none;
  display: inline-block;
}
input,
textarea,
select,
option {
  outline: none;
  background: none;
  border: none;
}
